@import "./variables.scss", "./mixin.scss";
.block_with_photo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1200px;
  max-height: 630px;
  width: 100%;

  .slider-container {
    border-radius: 15px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    .slider {
      display: flex;
      transition: transform 0.6s ease;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
  .prev-btn,
  .next-btn {
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    background-color: inherit;
    outline: none;
    border: none;
  }
  .next-btn {
    right: 0;
  }
  .dots {
    text-align: center;
    margin-top: 10px;
    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #bbb;
      margin: 0 5px;
      cursor: pointer;
      &.active {
        background-color: #333;
      }
    }
  }

  .text_before_photo {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 22px;
    left: 14px;
    width: 80%;
    height: 50px;
    background: rgba(146, 133, 96, 0.6);
    border-radius: 10px;
    p {
      font-size: 28px;
      font-family: $Inter_Black;
      font-weight: 900;
      font-style: italic;
      color: white;
    }
  }
}

.block_with_cards_of_moto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  text-align: center;

  .text_up {
    font-family: $IntroDemo_BLack;
    font-size: 32px;
    padding-bottom: 25px;
  }

  .gallery_of_cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    section {
      background-color: #e5ddc5;
      width: 350px;
      min-height: auto;
      margin-bottom: 25px;
      margin-right: 15px;

      img {
        width: 100%;
        padding: 10px;
      }
      .description {
        padding: 8px 10px;
        p {
          text-align: left;
          font-family: $FiraSans;
        }
        .name_moto{
          font-weight: 800;
        }
      }
    }
  }
  .button_more {
    padding: 11px 20px;
    width: 199px;
    height: 40px;
    background: #ff8080;
    border-radius: 15px;
    font-family: $IntroDemo_BLack;
  }
}

.block_review {
  margin-top: 100px;
  p {
    font-family: $IntroDemo_BLack;
    font-size: 32px;
    text-align: center;
  }
  .all_reviews {
    display: flex;
    .block {
      margin-top: 15px;
      margin-right: 14px;
      width: 390px;
      height: 244px;
      border-radius: 10px;
      background-color: #e5ddc5;

      .text_review {
        padding: 20px;

        .first {
          display: flex;
          align-items: center;

          .name {
            padding-left: 10px;
            font-family: $Inter-SemiBold;
          }
        }

        .second {
          margin-top: 20px;
          font-family: $FiraSans;
        }
      }
    }
  }
}

.about-company {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text_company {
    font-family: $IntroDemo_BLack;
    font-size: 32px;
    text-align: center;
  }

  .photo_with_text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text_in_company {
      padding: 50px;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      font-family: $FiraSans;
    }
  }

  .button_know_more {
    text-align: center;
    padding: 11px 20px;
    width: 199px;
    height: 40px;
    background: #ff8080;
    border-radius: 15px;
    font-family: $IntroDemo_BLack;
    margin-top: 25px;

    a {
      text-decoration: none;
      color: #000000;
    }
  }
}

@media (max-width:1024px) {
  main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .block_with_photo {
    width: 90%;
  }

  .block_with_cards_of_moto {
    margin-top: 170px;

    .gallery_of_cars {
      justify-content: center;
    }
  }

  .block_review {
    .all_reviews {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .photo_with_text {
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .block_with_photo {
    height: 50vw;
    .text_before_photo
    {
      height: 40px;
      p{
        font-size: 25px;
      }
    } 
  }

  .block_with_cards_of_moto {
    margin-top: 50px;
    .gallery_of_cars {
      section {
        width: 310px;
        img {
          width: 100%;
        }
      }
    }
  }
  .block_review .all_reviews .block {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 7px;
  }
}

@media (max-width:580px){
  .block_with_photo .text_before_photo {
    width: 65vw;
    p {
      font-size: 19px;
    }
  }
}

@media (max-width:450px) {
  .block_with_cards_of_moto{
    .gallery_of_cars section {
      margin-right: 0;
    }
  }
  .block_with_photo
  {
    height: 100%;
    width: 100vw;
    .text_before_photo {
      p {
        font-size: 16px;
      }
    }
    .slider-container .slider img{
      height: 240px;
    }
  }
}

