$IntroDemo_BLack:"IntroDemo_BlackCAPS";
$FiraSans:"FiraSans_Regular";
$Inter-SemiBold: "Inter-SemiBold";
$Inter_Black:"Inter-Black";
$background_color_main:#f1eedc;
$background_color_header: #e5ddc5;